.review_section {
  padding: 5px 0 40px 0;
  background-color: #f1f2f3;
  overflow: hidden;
}
.review_card:hover {
  transform: scale(1.05);
}

.heading_review {
  background: #f3c12d;
  color: rgb(0, 0, 0);
  padding: 10px 30px;
  font-size: 2rem;
  font-weight: bold;
  width: 350px;
  margin: 40px auto;
  border: 6px double #001f3f;
  border-radius: 30px 10px 30px 10px;
  display: block;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  letter-spacing: 2px;
  text-transform: uppercase;
  align-items: center !important;
  justify-content: center !important;

  text-align: center;
}

.subheadings {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
margin-top: -20px;
  margin-bottom: 40px;
  color: #3b0340e1;
  letter-spacing: 0.5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.review_wrapper {
  max-width: 100%;
  margin: 80px;
}

.review_container {
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}

.review_card {
  background: linear-gradient(135deg, #f1edc3, #ffffff);
  color: black;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  min-height: 250px;
  width: 300px;
  flex: 0 0 auto;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.review_rating {
  font-size: 1.5rem;
  margin: 1px 0;
}

.star {
  font-size: 1.3rem;
  margin-right: 2px;
}

.star.filled {
  color: #44f32d;
}

.star.empty {
  color: #ccc;
}

.review_card h3 {
  margin: 10px 0;
  font-size: 1.2rem;
}

.review_card p {
  font-size: 0.9rem;
  line-height: 1.4;
  color: black;
}

/* Responsive adjustments */
@media (max-width: 1280px) {
  .review_card {
    width: 250px;
  }
}

@media (max-width: 1024px) {
  .review_card {
    width: 230px;
  }
}

@media (max-width: 768px) {
  .review_card {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .review_card {
    width: 280px;
  }
}

.review_avatar {
  position: absolute;
  top: -50px;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 3px solid #c3d21c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

@media (max-width:380px) {
  .review_card {
    width: 250px;
  }
  
}
