.otp-wrapper h2 {
  font-size: 1.5rem;
  color: #001f3f;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}
.otp-wrapper p {
  font-size: 15px;
  color: #001f3f;
  margin-bottom: 20px;
  text-align: center;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin: 20px 0;
}

.otp-input {
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #001f3f;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.otp-input:focus {
  border-color: #007bff;
  outline: none;
  background-color: #e9f2ff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.4);
}

.otp-cancel {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}

.otp-button {
  background-color: #007bff;
  color: white;
}

.otp-cancel {
  background-color: white;
}

.link {
  color: #007bff;
  cursor: pointer;
  background-color: transparent !important;
}

.otp-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  height: 450px;
}

/* 1024px width - 1366px height */
@media (max-width: 1024px) and (max-height: 1366px) {
  .otp-container {
    max-width: 500px;
    height: calc(90vh - 20px);
  }
  .otp-input {
    width: 45px;
    height: 45px;
    font-size: 15px;
  }
}

/* 1024px width - 600px height */
@media (max-width: 1024px) and (max-height: 600px) {
  .otp-container {
    max-width: 450px;
    height: calc(75vh - 100px);
  }
  .otp-input {
    width: 50px;
    height: 50px;
    font-size: 18px;
  }
}

/* 912px */
@media (max-width: 912px) {
  .otp-container {
    max-width: 340px;
    height: calc(100vh - 140px);
  }
}

/* 855px */
@media (max-width: 855px) {
  .otp-container {
    max-width: 90vh;
    height: calc(100vh - 130px);
  }
  .otp-input {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }
}
@media (max-width: 820px) {
  .otp-container {
    max-width: 320px;
  }
  .otp-input {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }
}

/* 768px */
@media (max-width: 768px) {
  .otp-container {
    max-width: 300px;
    height: calc(40vh - 100px);
  }
  .otp-input {
    width: 45px;
    height: 45px;
    font-size: 18px;
  }
  .otp-wrapper h2 {
    font-size: 1.2rem;
    margin-top: -30px;
  }
}

/* 640px */
@media (max-width: 640px) {
  .otp-container {
    max-width: 280px;
    height: calc(100vh - 110px);
  }
}

/* 540px */
@media (max-width: 540px) {
  .otp-container {
    max-width: 260px;
    height: calc(100vh - 100px);
  }
}

/* 430px */
@media (max-width: 430px) {
  .otp-container {
    max-width: 240px;
    height: calc(70vh - 100px);
  }
}

/* 414px */
@media (max-width: 414px) {
  .otp-container {
    max-width: 230px;
    height: calc(100vh - 85px);
  }
}

/* 390px */
@media (max-width: 390px) {
  .otp-container {
    max-width: 390px;
    height: calc(100vh - 80px);
  }
}

/* 380px */
@media (max-width: 380px) {
  .otp-container {
    max-width: 350px;
    height: calc(60vh - 100px);
  }
  .otp-input {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
}

/* 360px */
@media (max-width: 360px) {
  .otp-container {
    max-width: 200px;
    height: calc(100vh - 70px);
  }
}

/* 344px */
@media (max-width: 344px) {
  .otp-container {
    max-width: 100%;
    height: calc(50vh - 100px);
  }
  .otp-input {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
  .otp-wrapper p {
    font-size: 14px;
  }
  .link {
    font-size: 14px;
  }
  .otp-info {
    font-size: 12px;
  }
}
