.totalService {
  display: flex;
  
  /* background-color: aqua; */
}
/* ServiceCard.css */

.totalService.out-of-service {
  position: relative;
opacity: 0.9;

  transition: opacity 0.3s ease;
}
.totalService.out-of-service .serviceCardImg ,
.totalService.out-of-service .thumbnailColumn img {
  filter: grayscale(100%);
}
.out-of-service-label {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: blue;
  color: white;
  padding: 4px 10px;
  font-size: 0.75rem;
  font-weight: bold;
  border-bottom-left-radius: 20px;
  /* border-bottom-right-radius: 10px; */
  z-index: 1000;
}

.serviceCards {
  display: flex;
  width: 100%;
  background: #e5e5de;

  /* background-color: #0c742b; */
}
.link {
  text-decoration: none;
}
.serviceCardImg {
  width: 100%;
  height: 255px;
  margin-right: 2px;
  position: relative;
}
.serviceCardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.navArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  padding: 8px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}

.navArrow.left {
  left: 10px;
}

.navArrow.right {
  right: 10px;
}
.thumbnailColumn {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-right: 10px;
}

.thumbnailColumn img:hover {
  cursor: pointer;
  opacity: 0.8;
}
.thumbnailColumn img {
  width: 85px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* responsive*/

@media (max-width: 768px) {
  .totalService {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .serviceCardImg {
    height: 160px;
  }

  .thumbnailColumn img {
    width: 45px;
    height: 30px;
  }
}

@media (max-width: 375px) {
  .serviceCardImg {
    height: 140px;
  }

  .thumbnailColumn img {
    width: 40px;
    height: 28px;
  }
}
